
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --dark_color_primary: hsl(0, 0%, 12.9%);
  --color_primary: hsl(0, 0%, 12.9%);
  --yellow-color-primary:  hsl(38, 100%, 63.5%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}





@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

}
